<section id="showPannel" class="offer-panel">
  <div class="e-cont">
    <div class="cross" (click)="displayOfferPannel()">
      <div class="x"></div>
      <div class="y"></div>
    </div>
    <svg aria-hidden="true" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path d="M14.25 7.756a4.5 4.5 0 100 8.488M7.5 10.5h5.25m-5.25 3h5.25M21 12a9 9 0 11-18 0 9 9 0 0118 0z" stroke-linecap="round" stroke-linejoin="round"></path>
    </svg>
    <p>Haz una oferta</p>
    <input id="offer-price" type="number" pattern="^[-\d]\d*$" placeholder="">
    <input (click)="sendOffer()" class="submit" type="button" value="Enviar">
  </div>
</section>
